:root {
    --primary-color: #FFFFFF;
    --secondary-color: #414447;
    --tertiary-color: #rgb(83, 86, 90)

    /*---- FONTS ----*/
    --font-family-primary: 'Poppins', sans-serif;
    /* --font-family-primary: 'TeoriaMF Bold', sans-serif; */

    /*---- BACKGROUDS ----*/
    --main-background-color: #F3F4F9;


    /*---- TEXTS ----*/
    --filter-text-color: #7C889B;
    --menu-text-color: #5d6572;

    /*---- LABELS ----*/
    --label-primary-color: #8595AB;

    /*---- BUTTONS ----*/
    --btn-primary-color: #EDF2F9;
    --btn-color: #505050;
}